/* ********* */
/* @HOME */
/* ********* */

// Multiples backgrounds
.contenedor{
    background: url(../assets/img/desktop/chica_guitarra.jpg) right top no-repeat,
                url(../assets/img/desktop/hojas.jpg) left bottom no-repeat,
                url(../assets/img/desktop/lineas.jpg) left top no-repeat;
}

.contenedor{
    // Tamaño de la caja
    height: 100vh;
    max-width: $desktop;
    margin: 0 auto;

    // Fondo: color y tres imágenes
    background-color: map-get(map-get($colores, fondo), base);
}
